<template>
<div>
  <md-progress md-indeterminate class="md-accent" :md-indeterminate="process"></md-progress>

  <div class="materialContainer">

    <div class="box">

      <div class="title">USER REPORT</div>

      <div v-if="page == 0">
      <p>
        Please input 12 digits one time token in order to access user's report.
      </p>
      <form>
        <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('token') }">
          <label>Token</label>
          <md-input v-model="token" v-mask="'############'"  required v-validate="'required|digits:12'" data-vv-name="token" name="token"></md-input>
          <span class="md-error">{{ errors.first('token') }}</span>
        </md-input-container>
      </form>

      <div class="button login">
        <md-button class="md-raised md-primary" v-on:click="submit1" :disabled="!fields.passed()">Submit</md-button>
        <md-button v-on:click="resetform">Reset</md-button>
      </div>
    </div>

      <div v-if="page == 1">

        <table>
          <tr>
            <td>From</td>
            <td><md-input-container>
        <label for="from_year">Year</label>
        <md-select name="from_year" id="from_year" v-model="from_year">
          <md-option v-for="year_element in year_elements" v-bind:value="year_element.value">{{ year_element.text }}</md-option>
        </md-select>
      </md-input-container></td>
          <td>
            <md-input-container>
        <label for="from_month">Month</label>
        <md-select name="from_month" id="from_month" v-model="from_month">
          <md-option value="1">Jan</md-option>
          <md-option value="2">Feb</md-option>
          <md-option value="3">Mar</md-option>
          <md-option value="4">Apr</md-option>
          <md-option value="5">May</md-option>
          <md-option value="6">Jun</md-option>
          <md-option value="7">Jul</md-option>
          <md-option value="8">Aug</md-option>
          <md-option value="9">Sept</md-option>
          <md-option value="10">Oct</md-option>
          <md-option value="11">Nov</md-option>
          <md-option value="12">Dec</md-option>
        </md-select>
      </md-input-container>
          </td>
          </tr>

          <tr>
            <td>To</td>
            <td><md-input-container>
        <label for="to_year">Year</label>
        <md-select name="to_year" id="to_year" v-model="to_year">
          <md-option v-for="year_element in year_elements" v-bind:value="year_element.value">{{ year_element.text }}</md-option>
        </md-select>
      </md-input-container></td>
          <td>
            <md-input-container>
        <label for="to_month">Month</label>
        <md-select name="to_month" id="to_month" v-model="to_month">
          <md-option value="1">Jan</md-option>
          <md-option value="2">Feb</md-option>
          <md-option value="3">Mar</md-option>
          <md-option value="4">Apr</md-option>
          <md-option value="5">May</md-option>
          <md-option value="6">Jun</md-option>
          <md-option value="7">Jul</md-option>
          <md-option value="8">Aug</md-option>
          <md-option value="9">Sept</md-option>
          <md-option value="10">Oct</md-option>
          <md-option value="11">Nov</md-option>
          <md-option value="12">Dec</md-option>
        </md-select>
      </md-input-container>
          </td>
          </tr>
        </table>

        <br>
        <div class="button login">
          <md-button class="md-raised md-primary" v-on:click="submit2" :disabled="submit2Disable">Submit</md-button>
        </div>

    </div>

  </div>

<md-snackbar :md-position="'top center'" ref="otheralert" :md-duration="4000">
  <span>{{ otheralertmsg }}<span>
  <md-button class="md-accent" md-theme="light-blue" @click="$refs.otheralert.close()">Close</md-button>
</md-snackbar>

  <md-snackbar :md-position="'top center'" ref="timeoutalert" :md-duration="4000">
    <span>Connection timeout. Please try again later.<span>
    <md-button class="md-accent" md-theme="light-blue" @click="$refs.timeoutalert.close()">Close</md-button>
  </md-snackbar>

  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      token: '',
      process: false,
      otheralertmsg: '',
      page: 0,
      from_year: '2017',
      to_year: '2017',
      from_month: '1',
      to_month: '1',
      year_elements: [],
      submit2Disable: false
    }
  },
  created: function () {
    var d = new Date()
    for (var x = d.getFullYear(); x >= 2000; x--) {
      this.$data.year_elements.push({ value: x.toString(), text: x.toString() })
    }
    this.$data.to_month = (d.getMonth() + 1).toString()
    this.$data.from_year = (d.getFullYear()).toString()
    this.$data.to_year = (d.getFullYear()).toString()

    var opr = opr || null
    var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0
    var isChrome = !!window.chrome && !!window.chrome.webstore

    if (!(isOpera || isChrome)) {
      // window.alert('Please use Google Chrome or Opera broswer to visit this page!')
    }
  },
  methods: {
    resetform: function (e) {
      this.$data.token = ''
      this.errors.clear()
    },

    submit1: function (e) {
      this.$data.process = true
      this.$http.post('../api/?t=' + new Date().getTime(), {
        event: 'report_tokenCheck',
        token: this.$data.token
      }).then(response => {
        this.$data.process = false
        if (response.body.success === 'false') {
          this.$data.otheralertmsg = response.body.msg
          this.$refs.otheralert.open()
        } else if (response.body.success === 'true') {
          this.$data.page = 1
        }
      }, response => {
        this.$data.process = false
        this.$refs.timeoutalert.open()
      })
    },

    submit2: function (e) {
      this.$data.process = true
      this.$data.submit2Disable = true
      this.$http.post('../api/?t=' + new Date().getTime(), {
        event: 'report_fetchReport',
        from_year: this.$data.from_year,
        to_year: this.$data.to_year,
        from_month: this.$data.from_month,
        to_month: this.$data.to_month
      }).then(blob => {
        var URL = URL || window.URL
        var url = URL.createObjectURL(blob.body)
        var a = document.createElement('a')
        a.style = 'display: none'
        a.href = url
        a.download = 'report_' + this.$data.token + '_' + new Date().getTime() + '.pdf'
        document.body.appendChild(a)
        a.click()
        window.URL.revokeObjectURL(url)

        function onInitFs (fs) {
          fs.root.getFile('report.pdf', {create: true}, function (fileEntry) {
            // Create a FileWriter object for our FileEntry (log.txt).
            fileEntry.createWriter(function (fileWriter) {
              fileWriter.onwriteend = function (e) {
                url = fileEntry.toURL()
                console.log('Write completed.')
                window.location.href = url
              }
              fileWriter.onerror = function (e) {
                console.log('Write failed: ' + e.toString())
                this.$data.process = false
                this.$data.otheralertmsg = 'Write failed: ' + e.toString()
                this.$refs.otheralert.open()
              }
              fileWriter.write(blob.body)
            }, errorHandler)
          }, errorHandler)
        }
        function errorHandler (e) {
          var msg = ''
          switch (e.code) {
            case 10:
              msg = 'QUOTA_EXCEEDED_ERR'
              break
            case 1:
              msg = 'NOT_FOUND_ERR'
              break
            case 2:
              msg = 'SECURITY_ERR'
              break
            case 9:
              msg = 'INVALID_MODIFICATION_ERR'
              break
            case 7:
              msg = 'INVALID_STATE_ERR'
              break
            default:
              msg = 'Unknown Error'
              break
          }
          console.log('Error: ' + msg)
          this.$data.otheralertmsg = 'Error: ' + msg
          this.$refs.otheralert.open()
        }
        window.requestFileSystem = window.requestFileSystem || window.webkitRequestFileSystem
        window.requestFileSystem(window.TEMPORARY, blob.body.size, onInitFs, errorHandler)

        // window.location.href = url
      }, response => {
        this.$data.process = false
        this.$refs.timeoutalert.open()
        this.$data.submit2Disable = false
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.loginbox {
  margin-top: 50px;
  width: 500px;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #483D8B;
  position: relative;
}

.title:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
  background: #483D8B;
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #483D8B;
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
  width: 25px;
  height: 4px;
}

.material-button .shape:after,
.alt-2 .shape:after {
  height: 25px;
  width: 4px;
}

.material-button.active,
.alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
